extends ../layout/admin

block content
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Real
            span(class="font-normal") Estate
        h2(class="text-center text-2xl font-extrabold")= page

        a(href="/properties/create" class="rounded py-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-10 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Create Property

        if properties.length
            div(class="bg-white shadow rounded-lg")
                ul(clas="divide-y divide-gray-200")
                    each property in properties
                      li
                        div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 md:space-y-0 gap-4")
                            div(class="sm:w-1/ md:w-1/6")
                                img(src=`/uploads/${property.image}` alt=property.name class="w-full block rounded")
                            div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                                a(href=`/property/${property.id}` class="block text-2xl font-extrabold text-indigo-600 truncate")= property.title
                                p(class="text-sm text-black font-bold capitalize")= property.category.name
                                p(class="text-sm text-gray-500 font-bold flex items-center")
                                    svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                                        path(stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z")
                                    = property.price.name

                            div(class="sm:w-1/4 md:w-2/6 flex flex-col gap-2 lg:flex-row lg:flex-1")
                                form(action="#")
                                    input(type="submit" class=`w-full cursor-pointer p-2 md:py-1 text-xs leading-5 font-semibold rounded ${property.published ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'}` value=`${!property.published ? 'Unpublished' : 'Published'}`)

                                a(href=`/properties/edit/${property.id}` class="text-center cursor-pointer p-2 md:py-1 text-xs leading-5 font-semibold rounded bg-indigo-100 text-indigo-800") Edit

                                form(action=`/properties/delete/${property.id}` method="POST")
                                    input(type="hidden" name="csrfToken" value=csrfToken)
                                    input(type="submit" class="w-full cursor-pointer p-2 md:py-1 text-xs leading-5 font-semibold rounded bg-red-100 text-red-800" value="Delete")
                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/my-properties?page=${currentPage - 1}` class=`relative inline-flex items-center px-4 py-2 border bg-white hover:bg-gray-50 text-sm font-medium ${currentPage === 1 ? 'text-gray-300 border-gray-300 pointer-events-none' : 'border-gray-700'}`) Previous
                        a(href=`/my-properties?page=${currentPage + 1}` class=`relative inline-flex items-center px-4 py-2 border bg-white hover:bg-gray-50 text-sm font-medium ${currentPage === pages ? 'text-gray-300 border-gray-300 pointer-events-none' : 'border-gray-700'}`) Next
                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm text-gray-700 gap-2") Showing
                            span(class="font-medium ml-1") #{offset + 1} to
                            span(class="font-medium ml-1") #{(limit + offset) > total ? total : (limit + offset)} of
                            span(class="font-medium ml-1") #{total} results
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - let n = 1;
                              while n <= pages
                                a(href=`/my-properties?page=${n}` class=`relative inline-flex items-center px-4 py-2 border text-sm font-medium ${currentPage === n ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'}`) #{n++}

        else
            p(class="text-center") No properties found
